@font-face {
	font-family: secondFont;
	src: url(Esteban-Regular.ttf);
  }
#popup {
 

    display: none;
    position: fixed;
    border: 1px solid rgba(0, 0, 0, 0.315);
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.842);
  }
  #popupImage {
    max-width: 90%;
    
    max-height: auto  ;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 5%;
  }
  
#popupText {font-family: secondFont; font-size: xx-large; text-align: center;  
   color:#000000; 
}