@font-face {
	font-family: myFirstFont;
	src: url(Higher\ Jump.ttf);
  }
  
  @font-face{
	font-family: Andale;
	src: url(ANDALEMO.woff);
  }
  h1 {
	font-family: myFirstFont;
	text-align: center;
}

  
.grid {
	margin: 1.5em 200px;
	max-width: 100%;
	column-gap: 0;
	row-gap: 0;
	column-count: 9;
  }
  #popupImage {
    max-width: 150%; 
    height: auto;
    display: block;
    margin: 0 auto; 
}
  
  .grid img {
	width: 100%;
	user-select: none;
	position: relative;
	height:auto;
	vertical-align: bottom;

  }
  

.grid img {
  transition: filter 0.2s; 
}

.grid  img:hover {
	-webkit-filter: invert(1);
	filter: invert(1);
}
.grid h1{
	text-align: right;
	padding-bottom: 50px;
	background-color: white;
}

  .inverted {
	-webkit-filter: invert(1);
	filter: invert(1);
  }
.grid .tag{text-align: left; padding-bottom: 0px;}
  
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
  }
  
  .fade-in-image {
	opacity: 0;
  }
p{text-align: center; font-family: Andale; font-size: x-small;}


#style1 {
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 45px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.521);
  
  cursor: pointer;
}
body
{background-color: rgb(255, 255, 255);}
.bod{  
	padding-bottom: 10px;            
	color:rgba(0, 0, 0, 0.836);
	text-shadow: 5px 11px rgba(0, 255, 213, 0.753);

}

.tag {
	background-image: url('gallery/spiral.gif');
	background-repeat: no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	background-position:  bottom  ;
	font-size: xx-large;
	-webkit-text-fill-color: transparent;
  }

  

  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-in-grid {
	color: rgb(0, 0, 0);
	text-align: center;
	border-width: 20px;
	border-style: groove;
	Border-color: #000000;
    width: 20%;
}


.centered-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: Andale;
	padding-top: 30px;
  }

  .centered-form textarea {
	resize: none;
	font-family:Andale;
	width: 350px;
	height: 80px;
  }

  .centered-form button {
	margin-top: 10px;

	background-color:transparent;
	font-family: Andale;
  }

  .centered-form button {
	display: block;
	margin: 10px auto;
  }